@import './variables.scss';
@import './common.scss';


.navbarEHeader {
    background-color: #fff;
    .header {
        nav {
            display: flex;
            justify-content: space-between;
        }
    }
    }
   

.container01 {
    display: flex;
    height: 100vh;
    margin-top: 80px;
    justify-content: space-between;

    .titlePage {
        margin-left: 100px;
        .principalTitle {
            font-size: 60px;
        }

        button {
            margin-top: 20px;
        }
    }

    .firstContainerImg img {
        width: 80%;
    }
    
}

.container03 {
    display: flex;
    background-image: url(../src/assets/bg-shorten-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 110px;
    margin-top: -130px;
    margin-bottom: 50px;
    z-index: 1;
    background-color: $dark-violet;
    border-radius: 10px;

    .input-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .input-url {
            width: 540px;
            height: 40px;
            border: none;
            border-radius: 8px;
            text-indent: 15px;
        }
    
    }
   
    #errorText {
        font-size: 12px;
        display: flex;
        align-items: end;
        color: $red-color;
    }
    .error-message {
        border: 2px solid $red-color;
        color: $red-color;
    }
}

.container02 {
    background-color: $gray-color;
    padding-top: 80px;
    padding-bottom: 40px;
    .advanced-statistic {
        margin-top: 50px;
        margin-bottom: 80px;

       .sub-title {
            color: $grayish-violet;
       }
       
    }

    .advanced-boxes {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        
        .card {
            width: 26rem; 
            height: 16rem;
        }
    
        .card02 {
            margin-top: 50px;
        }

        .card03 {
            margin-top: 100px;
        }

        .circle-img {
            display: flex;
            margin-top: -45px;
            margin-left: 30px;
            justify-content: center;
            align-items: center;
            background-color: $dark-violet;
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }

        .circle-img img {
            width: 50%;
        }
    }

    .line01 {
        margin-top: 140px;
   }
}

.url-elements {
    .url-card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;

        a {
            color: $cyan;
            text-decoration: none;
        }
    }
}

.container04 {
    display: flex;
    height: 40vh;
    margin-bottom: -48px;
    background-image: url(../src/assets/bg-boost-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-violet;

    .get-started {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color: #fff;
            margin-bottom: 22px;
        }
    }
}

.footer {
    height: 53vh;
    background-color: $Very-dark-violet;
    color: #fff;

    a {
        color: $gray-color;
        &:hover {
            color: $cyan;
        }
    }

    .navbar-medias ul {
        display: flex;
        flex-direction: row;
        list-style: none;
       
    }

    .navbar-medias a {
        margin-left: 15px;
       
        img:hover {
            filter: invert(27%) sepia(180%) saturate(9645%) hue-rotate(346deg) brightness(12%) contrast(49%);
            
        }
    }
    
}

// media query

@media (max-width: 1251px) {

    .container01 {
        h1 {
            font-size: 18px;
        }
    
        .firstContainerImg img {
            width: 90%;
            margin-right: -250px;
        }
    }
   
}

@media (max-width: 991px) {
    .container01 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 100px;

        .titlePage {
            .principalTitle {
                font-size: 40px;
            }
        }
        
        .firstContainerImg img {
            width: 90%;
            background-position-x: center;
            
        }
    }

    .container02 {

        .container02 {
       
            .input-url {
                width: 340px;
            }
        
        }

        .advanced-boxes {
            .circle-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
    
            .circle-img img {
                width: 50%;
            }
        }
    }
    
}

@media (max-width: 850px) {

    .container02 {
        .advanced-boxes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 150px;
            
            .card02 {
                margin-top: -5px;
            }
    
            .card03 {
                margin-top: -5px;
            }
    
            .circle-img {
                display: flex;
                margin-top: -45px;
                margin-left: 39%;
                justify-content: center;
                align-items: center;
                background-color: $dark-violet;
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
    
            .circle-img img {
                width: 50%;
            }
        }
    
        .line01 {
            margin-top: 4px;
       }
    }

    .container04 {
        .get-started {
            margin-bottom: 60px;
        }
    }


    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        
        .navbar-medias ul {
            display: flex;
            flex-direction: column-reverse;
        }
    
    }
}

@media (max-width: 767px) {
    .container03 {
        #inputUrl {
            width: 300px;
        }
    }

    .footer {
        
        .fooNavs ul, h5, a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            
        }
        
        .navbar-medias ul {
            display: flex;
            flex-direction: row;
            margin-left: -45px;
        }
    }
}

@media (max-width: 549px) {

    .container01 {
       
        .titlePage {
            margin-right:  40px;
            .principalTitle {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
    
        }
    
        .firstContainerImg img {
            width: 70%;
            margin-top: -120px;
            margin-left: 50px;
            margin-bottom: 30px;
        }
    }
    .container03 {
      
        .input-url{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            width: 80%;
        }

              
    }

    .container02 {
        .advanced-boxes {
            .card {
                width: 300px;
            }
        
            .circle-img {
                margin-left: 35%;
            }
        }
    }

    .url-elements {

        .url-card {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            a {
                margin-bottom: 8px;
            }
        }
    }
}

@media (max-width: 409px) {
    .container01 {
       
        .titlePage {
            .principalTitle {
                font-size: 26px;
            }

            p {
                font-size: 12px;
            }
    
        }
    
        .firstContainerImg img {
            width: 60%;
            margin-top: -80px;
            margin-left: 80px;
        }
    }
        
    .container03 {
        width: 300px;
        flex-wrap: wrap;
        #inputUrl {
            margin-left: 10px;
            width: 280px;
        }
    }     
}




