// Primary 

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

// Secondary 

$red-color: hsl(0, 87%, 67%);

// Neutral

$gray-color: hsl(0, 0%, 79%);
$grayish-violet: hsl(257, 7%, 63%);
$Very-dark-blue: hsl(255, 11%, 22%);
$Very-dark-violet: hsl(260, 8%, 14%);







